.DS_Store
.DS_Store?
*.swp
*.zip
# help/Adobe-Contributor-License-Agreement.pdf
# help/additional-resources/
# help/cert_req_form_nielsen.docx
# help/federated-analytics.md
# help/intro-to-ava/
# help/measurement-options/
# help/media-collection-api/
# help/media-overview.md
# help/media-reports/
# help/metrics-and-metadata/
# help/nielsen-partnership/
# help/sdk-implement/
help/uuid_mapping.csv
